$blue-button-color:#5CEEF7;
$green-bg-color:#A8DB99;
$dark-font-color:#342E29;
$orange-bg-color:#ECAA76;
$dark-bg-color:#2e2809;
$gold-font-color:#f0cb11;
$important-font-color:#F83906;
$blue-font-color :#3FA1F7;
$content-bg-color:#CDE0F0;
$btn-selected-bg:#21422E;
$btn-font-color-selected:#CDF0DB;
$error-bg: rgb(116, 11, 11);