$blue-button-color:#5CEEF7;
$green-bg-color:#A8DB99;
$dark-font-color:#342E29;
$orange-bg-color:#ECAA76;
$dark-bg-color:#2e2809;
$gold-font-color:#f0cb11;
$important-font-color:#F83906;
$blue-font-color :#3FA1F7;
$content-bg-color:#CDE0F0;
$btn-selected-bg:#21422E;
$btn-font-color-selected:#CDF0DB;
$error-bg: rgb(116, 11, 11);
$guess-game-bg:#181B1B;
$guess-game-font-color:#EAF9F9;
$guess-game-hightlight-color:#F51919;
$guess-game-border-color:#F5F419;
$guess-game-input-text-bg:#9BDBF4;
$guess-game-input-text-focuse:#D1CDF3;
$guess-game-btn-bg:#F3F1CD;
$guess-game-btn-font-color:#1A1A15;
$guess-game-btn-shadow-color:#FBFBD2;
$guess-game-lost-color:#F90C0C;
$guess-game-correct-answer:#BA0909;