@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

body {
    transition: all 0.3s ease-in-out;
    background-color: $guess-game-bg;
    color: $guess-game-font-color;
    clear: both;
    margin: 0;
    padding: 0;
    &.finishTheGame {
        background-color: rgba(74, 245, 126, 0.9);
        color: black;
    }
    &.lostTheGame{
        background-color: rgba(130, 10, 10, 0.9);
    }
}

.gameContainer {
    text-align: center;
    font-family: "Gugi", cursive;
    .gameTitle {
    }
    .gameDescriptions {
        .higlihgt {
            display: inline;
            color: $guess-game-hightlight-color;
        }
    }
    .guesseNumber {
        font-size: 100px;
        border: 1px solid $guess-game-border-color;
        width: 120px;
        padding: 20px;
        margin: 0 auto;
        margin-top: 40px;
        color: $guess-game-border-color;
        border-radius: 100px;
        height: 100%;
        transition: all 0.3s ease-in-out;
        &.correct {
            border: 1px solid $guess-game-correct-answer;
            color: $guess-game-correct-answer;
        }
    }

    .inputNumber {
        margin-top: 40px;
        .inputNumberFeild {
            background-color: $guess-game-input-text-bg;
            border: 0px;
            text-align: center;
            font-size: 50px;
            width: 100px;
            font-family: "Gugi", cursive;
            &:focus {
                border: 0px;
                background-color: $guess-game-input-text-focuse;
                outline: 0;
            }
        }
    }

    .button {
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        width: 200px;
        background-color: $guess-game-btn-bg;
        color: $guess-game-btn-font-color;
        border-radius: 5px;
        cursor: pointer;
        filter: drop-shadow(0 0 0.75rem $guess-game-btn-shadow-color);
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        &.disabeld {
            filter: drop-shadow(0 0 0 0);
            display: none;
            &:hover {
                transform: scale(1);
            }
        }
        &.reset {
            display: none;
            &.activeReset{
                display: block;
            }
        }
    }

    .score {
        font-size: 50px;
        margin-top: 50px;
        .scoreValue {
        }
    }

    .lives {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 50px;
        .livesNumber {
            font-size: 50px;
        }
        &.lost {
            color: $guess-game-lost-color;
        }
        .LiveEmoji {
            margin-left: 10px;
            font-size: 50px;
        }
    }
}
