@import "vars";

html,
body {
    clear: both;
    padding: 0;
    margin: 0;
}

#AliStudyContainer {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 16px;
    transition: all 0.5s ease-out;

    .sectionButton {
        background-color: $blue-button-color;
        padding: 3px;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 5px;

        &.selected{
            background-color: $btn-selected-bg;
            color: $btn-font-color-selected;
        }
    }

    .content{
        transition: all 0.5s ease-out;
        margin-left: 20px;
        background-color: $content-bg-color;
        padding: 5px;
        border-radius: 5px;
    }
    .sectionContent {
        transition: opacity 0.5s ease-out;
        margin-bottom: 20px;
    }

    .sectionContentShow {
        transition: opacity 0.5s ease-out;
        display: block;
        opacity: 1;
    }

    .sectionContentHide {
        transition: all 0.5s ease-out;
        display: none;
        opacity: 0;
    }

    .example {
    }
    .content {
        ol {
            padding: 5px;
            margin-left: 3%;
            li {
                margin-bottom: 20px;
            }
        }
    }

    .type {
        border-radius: 5px;
        padding: 5px;
        background-color: $green-bg-color;
        color: $dark-bg-color;
    }

    .discription {
        border-radius: 5px;
        padding: 5px;
        background-color: $orange-bg-color;
        color: $dark-font-color;
        margin-bottom: 5px;
    }
    .example {
        border-radius: 5px;
        padding: 5px;
        background-color: $dark-bg-color;
        color: $gold-font-color;
    }

    code {
        margin: 5px;
        display: block;
        background-color: #eee;
        border-radius: 3px;
        font-family: courier, monospace;
        padding: 0 3px;

        &.inline{
            display: inline-block;
        }
    }

    error {
        margin: 5px;
        display: block;
        background-color: rgb(116, 11, 11);
        border-radius: 3px;
        font-family: courier, monospace;
        padding: 0 3px;
        color: blanchedalmond;
    }

    .important{
        color: $important-font-color;
        background-color: $dark-bg-color;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        margin: 10px 0;
    }
    
    .keyword{
        color: $blue-font-color;
        font-weight: bold;
    }
}
